<%- include("partials/header.ejs")%>

<body>
  <div class="btn_container">
    <form action="/createBlog" method="get">
      <input type="submit" class="btn_create" value="Create" />
    </form>
  </div>

  <div class="blog_container">
    <% let index = 0; %> <% blogs.forEach(blog => { %>
    <div class="blog">
      <h3><%= blog.title %></h3>
      <p>Author: <%= blog.author %></p>
      <p><%= blog.content %></p>
      <p>Date: <%= blog.date %></p>

      <div class="btns">
        <!-- Formulario para editar el blog -->
        <form action="/editPage" method="post">
          <input type="hidden" name="blogIndex" value="<%= index %>" />
          <input type="submit" value="Edit Blog" />
        </form>

        <!-- Formulario para eliminar el blog -->
        <form action="/delete-blog" method="post">
          <input type="hidden" name="blogIndex" value="<%= index %>" />
          <input type="submit" value="Delete Blog" />
        </form>
      </div>

      <%index++%>
    </div>

    <% }) %>
  </div>
</body>

<%- include("partials/footer.ejs")%>
